/* IBM Plex fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wdth,wght@0,87.5,100..700;1,87.5,100..700&family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* phone specific stuff */
@media screen and (width <=960px) {
  body {
    /* make the margin at the top and bottom smaller */
    margin: 20px auto !important;
  }

  #info-box {
    #description {
      max-width: 100% !important;
    }
  }
}

/* colors and whatnot */
:root {
  --primary-color: #E5A743;
  --secondary-color: #E85637;
  --tertiary-color: #CA3940;
  --quaternary-color: #485579;
  --text-color: #0F1419;
  --text-color-light: #0F1419CC;
  --bg-color: #EEF1F7;

  --fonts-sans: "IBM Plex Sans", sans-serif;
  --fonts-serif: "IBM Plex Serif", serif;
  --fonts-mono: "IBM Plex Mono", monospace;
}

body {
  margin: 40px auto;
  max-width: 960px;
  font-family: var(--fonts-sans);
  font-size: 18px;
  color: var(--text-color);
  background-color: var(--bg-color);
  padding: 0 10px;
}

#language {
  width: 1.2em;
  text-align: center;
  font-family: var(--fonts-mono);
  font-size: 1em;

  user-select: none;
  padding-top: 0.5em;

  position: absolute;
  z-index: 2;

  #language-input {
    display: none;
  }

  #language-button {
    color: var(--quaternary-color);
    border-color: var(--quaternary-color);
  }

  #language-list {
    display: none;
    list-style-type: none;
    width: 1.2em;
    margin: 0;
    padding: 0.1em 0.35em;
    font-weight: 400;

    position: absolute;
    background-color: var(--bg-color);

    border-style: none dotted dotted;
    border-width: 3px;
    border-color: var(--secondary-color);

    li a {
      cursor: default;
      text-decoration: none;
      color: var(--tertiary-color);
    }

    li a:hover {
      color: var(--text-color);
    }
  }

  #language-input:checked~#language-list {
    display: block;
  }
}

h1,
h2,
h3,
h4 {
  font-family: var(--fonts-serif);
  color: var(--text-color-light);

  padding-left: 0.8em;
  margin-bottom: 0;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
}

h4 {
  font-size: 1.2em;
  font-weight: 500;
}

ol {
  list-style-type: lower-roman;

  li::marker {
    color: var(--quaternary-color);
  }
}

ul {
  list-style-type: square;

  li::marker {
    color: var(--quaternary-color);
  }
}

span.name {
  font-family: var(--fonts-serif);
  font-weight: 500;
  color: var(--primary-color);
}

span.primary {
  font-family: var(--fonts-mono);
  font-weight: 500;
  color: var(--primary-color);
}

span.secondary {
  font-family: var(--fonts-mono);
  font-weight: 500;
  color: var(--secondary-color);
}

.button {
  text-decoration: none;
  color: var(--secondary-color);

  display: inline-block;

  cursor: pointer;

  font-family: var(--fonts-mono);
  font-size: 1em;
  font-weight: 500;

  border-style: solid;
  border-width: 3px;
  border-color: var(--secondary-color);

  height: 1.4em;
  line-height: 1.4em;
  padding: 0.1em 0.35em;
}

a.link {
  font-weight: 400;
  color: var(--tertiary-color);
  text-decoration: underline;
}

code {
  font-family: var(--fonts-mono);
  font-weight: 400;
  color: var(--primary-color);
}

code.comment {
  color: var(--text-color);
  font-weight: 300;
  font-style: italic;
  letter-spacing: -.05em;
}

code.secondary {
  color: var(--secondary-color);
}

code.tertiary {
  color: var(--tertiary-color);
}

code.quaternary {
  color: var(--quaternary-color);
}

header {
  display: flex;
  justify-content: space-between;
  height: 2.5em;

  font-family: var(--fonts-serif);

  #logo {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    line-height: 1;
    color: var(--primary-color);
  }

  #gradient {
    background: linear-gradient(135deg,
        var(--quaternary-color) 0%, var(--quaternary-color) 25%,
        var(--primary-color) 25%, var(--primary-color) 50%,
        var(--secondary-color) 50%, var(--secondary-color) 75%,
        var(--tertiary-color) 75%, var(--tertiary-color) 100%);
    width: 25%;
  }

  div {
    font-size: 1.5em;
    font-weight: bold;
  }
}

main {
  margin: 4em auto;

  #quote {
    border-style: double;
    border-width: 6px;
    border-color: var(--primary-color);
    padding: 1.5em 1.5em;
    min-height: 10em;
    position: relative;

    font-family: var(--fonts-serif);
    font-weight: 400;

    .quote-text {
      font-size: 1.5em;
      font-style: italic;

      margin: 0;
    }

    .quote-author {
      color: var(--text-color-light);

      font-size: 1.2em;
      font-style: italic;

      padding-left: 0.5em;

      line-height: 1;
    }

    #quote-buttons {
      padding-top: 2em;

      a.button#more {
        position: absolute;
        right: 1.5em;
        bottom: 1.5em;
      }
    }
  }

  article {
    font-size: 1.2em;
    font-weight: 350;
  }
}

#info-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  #description {
    max-width: 70%;
  }

  #record-count {
    list-style: none;
    text-align: end;
    border-width: 3px;
    border-style: dashed;
    border-color: var(--quaternary-color);
    padding: .4em;
  }
}

hr {
  color: var(--quaternary-color);
}

footer {
  display: flex;
  justify-content: space-between;
  height: 2.5em;
  margin: 1.2em auto;

  font-family: var(--fonts-serif);

  div#info {
    span {
      display: block;

      font-size: 1em;

      color: var(--text-color-light);
    }

    a img {
      height: 1em;
    }
  }

  div a {
    text-decoration: none;
    color: var(--quaternary-color);

    font-size: 1.2em;
    font-weight: bold;
  }
}