<html>
  <head>
    <title>hapësirë</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="static/styles/main.css">
  </head>
  <body>
    <header>
      <a href="/" style="text-decoration: none;">
        <div id="logo">
          hapësirë
        </div>
      </a>
      <div id="gradient"><div/>
    </header>

    <main>
      <div id="quote">
        <p class="quote-text"><%= quote_text %></p>
        <div>
          <%= if quote_author != nil do %>
            <p class="quote-author">
              <span style="user-select: none;">&mdash; </span>
              <%= quote_author %>
            </p>
          <% end %>
          <div id="quote-buttons">
            <a id="language" class="button" href=<%= "/#{next_locale}" %>>
              <%= next_locale %>
            </a>
            <a id="more" class="button" href=<%= "/#{current_locale}" %>>
              <%= gettext.(current_locale, "more") %>
            </a>
          </div>
        </div>
      </div>

      <article>
        <h4><%= gettext.(current_locale, "A few words") %></h4>
        <p>
          <span class="name">hapësirë</span> <%= gettext.(current_locale, "is a collection of famous inspiring quotes by different authors") %>.
        </p>
        <p>
          <%= gettext.(current_locale, "Take a look at this unsophisticated basic website. Try pressing the") %> <span class="secondary"><%= gettext.(current_locale, "more") %></span> <%= gettext.(current_locale, "button to see another quote. May you come across an expression that strikes a chord with you") %>.
        </p>
        <p>
          <%= gettext.(current_locale, "However,") %> <span class="name">hapësirë</span> <%= gettext.(current_locale, "is not only a website, it has a") %> <a href="https://jsonapi.org/" class="link">JSON:API</a> <%= gettext.(current_locale, "endpoint available at") %> <a href="https://hapesire.kira.computer/api" class="link">https://hapesire.kira.computer/api</a>
        </p>
      </article>
      <article>
        <h4><%= gettext.(current_locale, "Quotes API") %></h4>
        <p>
          <%= gettext.(current_locale, "The following methods are supported") %>:
        </p>
        <ol>
          <li><code>GET /api/quotes/random</code></li>
          <li><code>GET /api/quotes/random/:language</code></li>
          <li><code>GET /api/quotes/get/:id</code></li>
        </ol>
        <p>
          <%= gettext.(current_locale, "The next languages are available [quotes]") %>:
        </p>
        <ol>
          <li><code>en</code> &mdash; <%= gettext.(current_locale, "English") %></li>
          <li><code>ru</code> &mdash; <%= gettext.(current_locale, "Russian") %></li>
        </ol>
        <p>
          <%= gettext.(current_locale, "The default language is English") %>.
        </p>
        <h4><%= gettext.(current_locale, "Proverbs API") %></h4>
        <p>
          <%= gettext.(current_locale, "The following methods are supported") %>:
        </p>
        <ol>
          <li><code>GET /api/proverbs/random</code></li>
          <li><code>GET /api/proverbs/random/:language</code></li>
          <li><code>GET /api/proverbs/get/:id</code></li>
        </ol>
        <p>
          <%= gettext.(current_locale, "The next languages are available [proverbs]") %>:
        </p>
        <ol>
          <li><code>en</code> &mdash; <%= gettext.(current_locale, "English") %></li>
          <li><code>zh</code> &mdash; <%= gettext.(current_locale, "Chinese") %></li>
        </ol>
        <p>
          <%= gettext.(current_locale, "The default language is English") %>.
        </p>
      </article>
    </main>
    <hr>
    <footer>
      <div id="info">
        <span>
          by kira
        </span>
        <a href="https://creativecommons.org/publicdomain/zero/1.0/">
          <img src="https://mirrors.creativecommons.org/presskit/icons/pd.svg"/>
          <img src="https://mirrors.creativecommons.org/presskit/icons/zero.svg"/>
        </a>
      </div>
      <div>
        <a href="https://github.com/q60/hapesire">
          GitHub
        </a>
      </div>
      <div>
        <a href="https://codeberg.org/q60/hapesire">
          Codeberg
        </a>
      </div>
    </footer>
  </body>
</html>
