<html>
  <head>
    <title>hapësirë</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="static/styles/main.css">
  </head>
  <body>
    <header>
      <a href="/" style="text-decoration: none;">
        <div id="logo">
          hapësirë
        </div>
      </a>
      <div id="gradient"><div/>
    </header>

    <main>
      <div id="quote">
        <p class="quote-text"><%= quote_text %></p>
        <div>
          <%= if quote_author != nil do %>
            <p class="quote-author">
              <span style="user-select: none;">&mdash; </span>
              <%= quote_author %>
            </p>
          <% end %>
          <div id="quote-buttons">
            <a id="language" class="button" href=<%= "/#{elem(locale, 1)}" %>>
              <%= elem(locale, 1) %>
            </a>
            <a id="more" class="button" href=<%= "/#{elem(locale, 0)}" %>>
              <%= translations.more %>
            </a>
          </div>
        </div>
      </div>

        <!-- <div id="language-button"> -->
        <!-- </div> -->
      <article>
        <h4><%= translations.about %></h4>
        <p>
          <span class="name">hapësirë</span> <%= translations.hapesire_is %>.
        </p>
        <p>
          <%= translations.look_at_this %> <span class="secondary"><%= translations.more %></span> <%= translations.button %>.
        </p>
        <p>
          <%= translations.however %> <span class="name">hapësirë</span> <%= translations.not_only %> <a href="https://jsonapi.org/" class="link">JSON:API</a> <%= translations.endpoint %> <a href="https://hapesire.kira.computer/api" class="link">https://hapesire.kira.computer/api</a>
        </p>
      </article>
      <article>
        <h4><%= translations.about_api %></h4>
        <p>
          <%= translations.methods %>:
        </p>
        <ol>
          <li><code>GET /api/quotes/random</code></li>
          <li><code>GET /api/quotes/random/:language</code></li>
          <li><code>GET /api/quotes/get/:id</code></li>
        </ol>
        <p>
          <%= translations.languages %>:
        </p>
        <ol>
          <li><code>en</code> &mdash; <%= translations.english %></li>
          <li><code>ru</code> &mdash; <%= translations.russian %></li>
        </ol>
        <p>
          <%= translations.default_language %>.
        </p>
      </article>
    </main>
  </body>
</html>
