<html>
  <head>
    <title>hapësirë</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/static/styles/main.css">
  </head>
  <body>
    <header>
      <a href="/?lang=<%= current_locale %>" style="text-decoration: none;">
        <div id="logo">
          hapësirë
        </div>
      </a>
      <div id="gradient"><div/>
    </header>
    <div id="language">
      <input id="language-input" type="checkbox"/>
      <label id="language-button" class="button" for="language-input"><%= current_locale %></label>
      <ul id="language-list">
        <%= for language <- locales do %>
          <li><a href="?lang=<%= language %>"><%= language %></a></li>
        <% end %>
      </ul>
    </div>
    <main>
      <%= EEx.eval_file(template, bindings) %>
    </main>
    <hr>
    <footer>
      <div id="info">
        <span>
          by kira
        </span>
        <a href="https://creativecommons.org/publicdomain/zero/1.0/">
          <img src="https://mirrors.creativecommons.org/presskit/icons/pd.svg"/>
          <img src="https://mirrors.creativecommons.org/presskit/icons/zero.svg"/>
        </a>
      </div>
      <div>
        <a href="https://github.com/q60/hapesire">
          GitHub
        </a>
      </div>
      <div>
        <a href="https://codeberg.org/q60/hapesire">
          Codeberg
        </a>
      </div>
    </footer>
  </body>
</html>
